@model IEnumerable<mongoDBproject.Models.UserGroup>

@{
    ViewData["Title"] = "GetAggregateUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAggregateUsers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewLastUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewLastUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldUser.Count)
            </td>
            <td>
                @Html.ActionLink("View", "GetAggregateUser", new { id = item.Id/* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="Index">Back to Index</a>